import streamlit as st
import os
import uuid
from pydub import AudioSegment
from gtts import gTTS
import base64
from cbfs import cbfs
import whisper

# Sample data for replies (you can replace this with your chatbot logic)
replies = {}
c = cbfs()
audio_model = whisper.load_model("base")

def main():
    st.title("Bay University Service Bot")

    if st.button("Ask a Text Question"):
        display_text_question_page()
    elif st.button("Ask a Voice Question"):
        display_voice_question_page()

def display_text_question_page():
    st.header("Chat with the Chatbot")
    question = st.text_input("Enter your question:")
    
    if st.button("Submit"):
        if question:
            reply = c.convchain(question)  # Replace with your chatbot logic
            replies[question] = reply
            st.write(f"Question: {question}")
            st.write(f"Reply: {reply}")

def display_voice_question_page():
    st.header("Ask a Question via Voice")
    st.write("Click the 'Record' button to start recording your question.")
    st.write("Click the 'Stop' button when you finish recording.")
    
    audio_chunks = st.audio_recorder("Record", key="audio_key")
    
    if st.button("Stop"):
        if audio_chunks:
            audio_data = b"".join(audio_chunks)
            filename = f"audios/{uuid.uuid4()}.wav"
            with open(filename, "wb") as audio_file:
                audio_file.write(audio_data)

            result = audio_model.transcribe(filename, language="en")
            question = result["text"]

            st.write(f"Transcribed Question: {question}")

            reply = c.convchain(question)  # Replace with your chatbot logic
            replies[question] = reply

            reply_filename = f"audios/{uuid.uuid4()}.mp3"
            mp3_obj = gTTS(text=reply, lang="en", slow=False)
            mp3_obj.save(reply_filename)

            with open(reply_filename, "rb") as mp3_file:
                encoded_mp3 = base64.b64encode(mp3_file.read()).decode('utf-8')

            st.audio(encoded_mp3, format="audio/mp3")

if __name__ == "__main__":
    main()
